* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #bfd9ef, #00f2fe);
    color: #222;
}

/* Main container */
.weather-container {
    width: 100%;
    padding: 20px;
}

/* Weather Card */
.weather-card {
    max-width: 450px;
    margin: auto;
    background: rgba(255, 255, 255, 0.95);
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

/* H1 */
.weather-card h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

.subtitle {
    color: #777;
    margin-bottom: 25px;
}